<p>Utilize o campo abaixo para entrar com o conjunto a ser ordenado</p>

<div fxLayoutAlign="center">
  <mat-form-field>
    <input
      type="number"
      matInput
      [(ngModel)]="entryData"
      (keydown.enter)="add()"
    />
  </mat-form-field>
  <button mat-button color="primary" (click)="add()">
    <mat-icon>add_circle</mat-icon>
  </button>
</div>
<div fxLayoutAlign="center" class="pd3">
  <button mat-flat-button (click)="generateNumbers()">
    Gerar 5 valores aleatórios
    <span class="material-icons"> replay_5 </span>
  </button>
</div>
