<div class="example-action-buttons"></div>
<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title
        ><mat-icon>settings</mat-icon> Configurações
      </mat-panel-title>
      <mat-panel-description> Entradas </mat-panel-description>
    </mat-expansion-panel-header>
    <app-simulator-settings [simulator]="simulator"></app-simulator-settings>
  </mat-expansion-panel>
</mat-accordion>
<div fxLayout fxLayout.xs="column">
  <div fxFlex="80%" fxFlex.xs="100%" class="col-esq">
    <h3>Conjunto com {{ simulator.data.length }} itens!</h3>
    <div class="datacnt" id="cnt">
      <div
        *ngFor="let item of simulator.data; let i = index"
        class="wrapper-data"
      >
        <div
          class="ndata mat-elevation-z4"
          [ngClass]="{ selected: selectA == i || selectB == i }"
          color="primary"
          id="d{{ i }}"
        >
          {{ item }}
        </div>
      </div>
    </div>
    <div *ngIf="simulator.data.length > 0">
      <div>
        <div style="display: block">
          <canvas
            baseChart
            [datasets]="barChartData"
            [colors]="colors"
            [labels]="simulator.labels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
          >
          </canvas>
        </div>
      </div>
    </div>
  </div>
  <div fxFlex="20%" fxFlex.xs="100%" class="col-dir">
    <h3>H lista gerada</h3>
    <div *ngFor="let item of simulator.hList" class="wrapper-data">
      <div class="ndata mat-elevation-z4" color="primary" id="d{{ item }}">
        {{ item }}
      </div>
    </div>
    <div>
      <button mat-raised-button color="accent" (click)="start()">Start</button>
    </div>
    <mat-slider
      [min]="0"
      [step]="0.1"
      [max]="10"
      [(ngModel)]="speed"
      [thumbLabel]="true"
    ></mat-slider>
  </div>
</div>
